aniso8601==6.0.0
asgiref==3.3.1
bcrypt==3.1.6
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.1
cors==0.9.7
crayons==0.4.0
cryptography==3.3.1
Django==3.1.5
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-MySQL==1.5.2
Flask-RESTful==0.3.7
future==0.18.2
gevent==21.1.1
greenlet==1.0.0
gunicorn==19.9.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jsonify==0.5
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.5
opencv-contrib-python==4.5.1.48
Pillow==7.1.0
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.1
pycparser==2.20
pymongo==3.11.2
PyMySQL==1.0.2
pytz==2020.5
redis==3.5.3
requests==2.25.1
requests-file==1.5.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
tldextract==3.1.0
torch==1.7.1
torchvision==0.2.1
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.26.2
vscode-ipynb-py-convert==0.3
webdriver-manager==3.2.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
